FlightReservationJpaSeClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=2"/>

<xs:element name="FlightDoesNotExistException" type="tns:FlightDoesNotExistException"/>

<xs:element name="FlightScheduleDoesNotExistException" type="tns:FlightScheduleDoesNotExistException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="aircraft" type="tns:aircraft"/>

<xs:element name="aircraftConfiguration" type="tns:aircraftConfiguration"/>

<xs:element name="airport" type="tns:airport"/>

<xs:element name="bookSeat" type="tns:bookSeat"/>

<xs:element name="bookSeatResponse" type="tns:bookSeatResponse"/>

<xs:element name="cabin" type="tns:cabin"/>

<xs:element name="checkIfFlightSchedIdIsDirect" type="tns:checkIfFlightSchedIdIsDirect"/>

<xs:element name="checkIfFlightSchedIdIsDirectResponse" type="tns:checkIfFlightSchedIdIsDirectResponse"/>

<xs:element name="checkSeatIfAvailable" type="tns:checkSeatIfAvailable"/>

<xs:element name="checkSeatIfAvailableResponse" type="tns:checkSeatIfAvailableResponse"/>

<xs:element name="createReservationDetailsForPartner" type="tns:createReservationDetailsForPartner"/>

<xs:element name="createReservationDetailsForPartnerResponse" type="tns:createReservationDetailsForPartnerResponse"/>

<xs:element name="flightRoute" type="tns:flightRoute"/>

<xs:element name="flightSchedule" type="tns:flightSchedule"/>

<xs:element name="flightSchedulePlan" type="tns:flightSchedulePlan"/>

<xs:element name="getAirportCodeWithAirportId" type="tns:getAirportCodeWithAirportId"/>

<xs:element name="getAirportCodeWithAirportIdResponse" type="tns:getAirportCodeWithAirportIdResponse"/>

<xs:element name="getAirportDest" type="tns:getAirportDest"/>

<xs:element name="getAirportDestResponse" type="tns:getAirportDestResponse"/>

<xs:element name="getAirportIdWithFlightScheduleId" type="tns:getAirportIdWithFlightScheduleId"/>

<xs:element name="getAirportIdWithFlightScheduleIdResponse" type="tns:getAirportIdWithFlightScheduleIdResponse"/>

<xs:element name="getAirportOrigin" type="tns:getAirportOrigin"/>

<xs:element name="getAirportOriginResponse" type="tns:getAirportOriginResponse"/>

<xs:element name="getCabinFromRd" type="tns:getCabinFromRd"/>

<xs:element name="getCabinFromRdResponse" type="tns:getCabinFromRdResponse"/>

<xs:element name="getCabinSeatsList" type="tns:getCabinSeatsList"/>

<xs:element name="getCabinSeatsListResponse" type="tns:getCabinSeatsListResponse"/>

<xs:element name="getCabins" type="tns:getCabins"/>

<xs:element name="getCabinsResponse" type="tns:getCabinsResponse"/>

<xs:element name="getFRUsingFSId" type="tns:getFRUsingFSId"/>

<xs:element name="getFRUsingFSIdResponse" type="tns:getFRUsingFSIdResponse"/>

<xs:element name="getFareFromRd" type="tns:getFareFromRd"/>

<xs:element name="getFareFromRdResponse" type="tns:getFareFromRdResponse"/>

<xs:element name="getFareUsingId" type="tns:getFareUsingId"/>

<xs:element name="getFareUsingIdResponse" type="tns:getFareUsingIdResponse"/>

<xs:element name="getFirstAvailableCabin" type="tns:getFirstAvailableCabin"/>

<xs:element name="getFirstAvailableCabinResponse" type="tns:getFirstAvailableCabinResponse"/>

<xs:element name="getFlightScheduleWithId" type="tns:getFlightScheduleWithId"/>

<xs:element name="getFlightScheduleWithIdResponse" type="tns:getFlightScheduleWithIdResponse"/>

<xs:element name="getFlightSchedules" type="tns:getFlightSchedules"/>

<xs:element name="getFlightSchedulesResponse" type="tns:getFlightSchedulesResponse"/>

<xs:element name="getHighestFareIdInCabin" type="tns:getHighestFareIdInCabin"/>

<xs:element name="getHighestFareIdInCabinResponse" type="tns:getHighestFareIdInCabinResponse"/>

<xs:element name="getHighestFareUsingCabinName" type="tns:getHighestFareUsingCabinName"/>

<xs:element name="getHighestFareUsingCabinNameResponse" type="tns:getHighestFareUsingCabinNameResponse"/>

<xs:element name="getIslesPlan" type="tns:getIslesPlan"/>

<xs:element name="getIslesPlanResponse" type="tns:getIslesPlanResponse"/>

<xs:element name="getListOfHubsId" type="tns:getListOfHubsId"/>

<xs:element name="getListOfHubsIdConnecting" type="tns:getListOfHubsIdConnecting"/>

<xs:element name="getListOfHubsIdConnectingResponse" type="tns:getListOfHubsIdConnectingResponse"/>

<xs:element name="getListOfHubsIdResponse" type="tns:getListOfHubsIdResponse"/>

<xs:element name="getPartnerId" type="tns:getPartnerId"/>

<xs:element name="getPartnerIdResponse" type="tns:getPartnerIdResponse"/>

<xs:element name="getReservationDetailsPartner" type="tns:getReservationDetailsPartner"/>

<xs:element name="getReservationDetailsPartnerResponse" type="tns:getReservationDetailsPartnerResponse"/>

<xs:element name="linkCreditCard" type="tns:linkCreditCard"/>

<xs:element name="linkCreditCardResponse" type="tns:linkCreditCardResponse"/>

<xs:element name="linkFlightSchedule" type="tns:linkFlightSchedule"/>

<xs:element name="linkFlightScheduleResponse" type="tns:linkFlightScheduleResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="partner" type="tns:partner"/>

<xs:element name="persist" type="tns:persist"/>

<xs:element name="persistResponse" type="tns:persistResponse"/>

<xs:element name="reservationDetails" type="tns:reservationDetails"/>

<xs:element name="retrieveAllAirports" type="tns:retrieveAllAirports"/>

<xs:element name="retrieveAllAirportsResponse" type="tns:retrieveAllAirportsResponse"/>

<xs:element name="retrieveDateOfFlightPicked" type="tns:retrieveDateOfFlightPicked"/>

<xs:element name="retrieveDateOfFlightPickedResponse" type="tns:retrieveDateOfFlightPickedResponse"/>

<xs:element name="retrieveFlightScheduleInPlan" type="tns:retrieveFlightScheduleInPlan"/>

<xs:element name="retrieveFlightScheduleInPlanResponse" type="tns:retrieveFlightScheduleInPlanResponse"/>

<xs:element name="retrieveFlightSchedulePlanAfterTiming" type="tns:retrieveFlightSchedulePlanAfterTiming"/>

<xs:element name="retrieveFlightSchedulePlanAfterTimingResponse" type="tns:retrieveFlightSchedulePlanAfterTimingResponse"/>

<xs:element name="retrieveFlightSchedulePlanAfterTimingReturnConnecting" type="tns:retrieveFlightSchedulePlanAfterTimingReturnConnecting"/>

<xs:element name="retrieveFlightSchedulePlanAfterTimingReturnConnectingResponse" type="tns:retrieveFlightSchedulePlanAfterTimingReturnConnectingResponse"/>

<xs:element name="retrieveFlightSchedulePlanWith1DayAfter" type="tns:retrieveFlightSchedulePlanWith1DayAfter"/>

<xs:element name="retrieveFlightSchedulePlanWith1DayAfterResponse" type="tns:retrieveFlightSchedulePlanWith1DayAfterResponse"/>

<xs:element name="retrieveFlightSchedulePlanWith1DayAfterReturnConnecting" type="tns:retrieveFlightSchedulePlanWith1DayAfterReturnConnecting"/>

<xs:element name="retrieveFlightSchedulePlanWith1DayAfterReturnConnectingResponse" type="tns:retrieveFlightSchedulePlanWith1DayAfterReturnConnectingResponse"/>

<xs:element name="retrieveFlightSchedulePlanWith3DaysAfterConnecting" type="tns:retrieveFlightSchedulePlanWith3DaysAfterConnecting"/>

<xs:element name="retrieveFlightSchedulePlanWith3DaysAfterConnectingResponse" type="tns:retrieveFlightSchedulePlanWith3DaysAfterConnectingResponse"/>

<xs:element name="retrieveFlightSchedulePlanWith3DaysAfterPartner" type="tns:retrieveFlightSchedulePlanWith3DaysAfterPartner"/>

<xs:element name="retrieveFlightSchedulePlanWith3DaysAfterPartnerResponse" type="tns:retrieveFlightSchedulePlanWith3DaysAfterPartnerResponse"/>

<xs:element name="retrieveFlightSchedulePlanWith3DaysBeforeConnecting" type="tns:retrieveFlightSchedulePlanWith3DaysBeforeConnecting"/>

<xs:element name="retrieveFlightSchedulePlanWith3DaysBeforeConnectingResponse" type="tns:retrieveFlightSchedulePlanWith3DaysBeforeConnectingResponse"/>

<xs:element name="retrieveFlightSchedulePlanWith3DaysBeforePartner" type="tns:retrieveFlightSchedulePlanWith3DaysBeforePartner"/>

<xs:element name="retrieveFlightSchedulePlanWith3DaysBeforePartnerResponse" type="tns:retrieveFlightSchedulePlanWith3DaysBeforePartnerResponse"/>

<xs:element name="retrieveFlightSchedulePlanWithSameTimingConnecting" type="tns:retrieveFlightSchedulePlanWithSameTimingConnecting"/>

<xs:element name="retrieveFlightSchedulePlanWithSameTimingConnectingResponse" type="tns:retrieveFlightSchedulePlanWithSameTimingConnectingResponse"/>

<xs:element name="retrieveFlightSchedulePlanWithSameTimingPartner" type="tns:retrieveFlightSchedulePlanWithSameTimingPartner"/>

<xs:element name="retrieveFlightSchedulePlanWithSameTimingPartnerResponse" type="tns:retrieveFlightSchedulePlanWithSameTimingPartnerResponse"/>

<xs:complexType name="retrieveFlightScheduleInPlan">
<xs:sequence>
<xs:element name="listOfFlightSchedulePlan" type="tns:flightSchedulePlan" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightSchedulePlan">
<xs:sequence>
<xs:element name="flight" type="tns:flight" minOccurs="0"/>
<xs:element name="flightNumber" type="xs:int" minOccurs="0"/>
<xs:element name="flightSchedulePlanId" type="xs:long" minOccurs="0"/>
<xs:element name="flightSchedulePlanStatus" type="tns:flightSchedulePlanStatusEnum" minOccurs="0"/>
<xs:element name="flightSchedules" type="tns:flightSchedule" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="listOfFares" type="tns:fare" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="aircraftConfig" type="tns:aircraftConfiguration" minOccurs="0"/>
<xs:element name="bookedDates" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flightId" type="xs:long" minOccurs="0"/>
<xs:element name="flightNumber" type="xs:int" minOccurs="0"/>
<xs:element name="flightRoute" type="tns:flightRoute" minOccurs="0"/>
<xs:element name="flightStatus" type="tns:flightStatusEnum" minOccurs="0"/>
<xs:element name="listOfFlightSchedulePlans" type="tns:flightSchedulePlan" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="prefix" type="xs:string" minOccurs="0"/>
<xs:element name="returnFlightNumber" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aircraftConfiguration">
<xs:sequence>
<xs:element name="aircraft" type="tns:aircraft" minOccurs="0"/>
<xs:element name="aircraftConfigName" type="xs:string" minOccurs="0"/>
<xs:element name="aircraftConfigurationId" type="xs:long" minOccurs="0"/>
<xs:element name="listOfCabins" type="tns:cabin" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="listOfFlights" type="tns:flight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aircraft">
<xs:sequence>
<xs:element name="aircraftConfiguration" type="tns:aircraftConfiguration" minOccurs="0"/>
<xs:element name="aircraftId" type="xs:long" minOccurs="0"/>
<xs:element name="aircraftName" type="xs:string" minOccurs="0"/>
<xs:element name="numOfSeats" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cabin">
<xs:sequence>
<xs:element name="aircraftConfiguration" type="tns:aircraftConfiguration" minOccurs="0"/>
<xs:element name="availableSeats" type="xs:int" minOccurs="0"/>
<xs:element name="cabinClassName" type="xs:string" minOccurs="0"/>
<xs:element name="cabinId" type="xs:long" minOccurs="0"/>
<xs:element name="listOfFare" type="tns:fare" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="numOfIsles" type="xs:int" minOccurs="0"/>
<xs:element name="numOfRows" type="xs:int" minOccurs="0"/>
<xs:element name="reservedSeats" type="xs:int" minOccurs="0"/>
<xs:element name="seatingConfiguration" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="seatingPlan" type="ns1:unsignedShortArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="totalSeats" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fare">
<xs:sequence>
<xs:element name="cabin" type="tns:cabin" minOccurs="0"/>
<xs:element name="fareAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="fareBasisCode" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightRoute">
<xs:sequence>
<xs:element name="complementaryRoute" type="xs:boolean" minOccurs="0"/>
<xs:element name="destination" type="tns:airport" minOccurs="0"/>
<xs:element name="flightRouteId" type="xs:long" minOccurs="0"/>
<xs:element name="flightRouteStatus" type="tns:flightRouteStatusEnum" minOccurs="0"/>
<xs:element name="listOfFlights" type="tns:flight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="origin" type="tns:airport" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="airport">
<xs:sequence>
<xs:element name="airportId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightSchedule">
<xs:sequence>
<xs:element name="arrivalDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="customers" type="tns:customer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="departureDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="estimatedTime" type="xs:double"/>
<xs:element name="flightScheduleId" type="xs:long" minOccurs="0"/>
<xs:element name="flightSchedulePlan" type="tns:flightSchedulePlan" minOccurs="0"/>
<xs:element name="layover" type="xs:double"/>
<xs:element name="listOfCabins" type="tns:cabin" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="listOfReservationDetails" type="tns:reservationDetails" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="partners" type="tns:partner" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:complexContent>
<xs:extension base="tns:account">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="listOfFlightSchedules" type="tns:flightSchedule" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="listOfReservationDetails" type="tns:reservationDetails" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="accountId" type="xs:long" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationDetails">
<xs:sequence>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="fare" type="tns:fare" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="flightSchedule" type="tns:flightSchedule" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="passportNumber" type="xs:string" minOccurs="0"/>
<xs:element name="rowNum" type="xs:int"/>
<xs:element name="seatLetter" type="xs:unsignedShort"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:complexContent>
<xs:extension base="tns:account">
<xs:sequence>
<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="listOfFlightSchedules" type="tns:flightSchedule" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="listOfReservationDetails" type="tns:reservationDetails" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="retrieveFlightScheduleInPlanResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCabinSeatsList">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="cabName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCabinSeatsListResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightScheduleDoesNotExistException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWithSameTimingPartner">
<xs:sequence>
<xs:element name="departureDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="depAirport" type="xs:long"/>
<xs:element name="destAirport" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWithSameTimingPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith3DaysAfterConnecting">
<xs:sequence>
<xs:element name="depAirport" type="xs:long"/>
<xs:element name="destAirport" type="xs:long"/>
<xs:element name="listOfHubIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="departureDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith3DaysAfterConnectingResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightSchedules">
<xs:sequence>
<xs:element name="partnerId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightSchedulesResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persist">
<xs:sequence>
<xs:element name="arg0" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persistResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getIslesPlan">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="cabName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIslesPlanResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith3DaysAfterPartner">
<xs:sequence>
<xs:element name="departureDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="depAirport" type="xs:long"/>
<xs:element name="destAirport" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith3DaysAfterPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkSeatIfAvailable">
<xs:sequence>
<xs:element name="flightSchedId" type="xs:long"/>
<xs:element name="cabName" type="xs:string" minOccurs="0"/>
<xs:element name="rowNum" type="xs:int"/>
<xs:element name="seat" type="xs:unsignedShort"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkSeatIfAvailableResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReservationDetailsPartner">
<xs:sequence>
<xs:element name="flightScheduleId" type="xs:long"/>
<xs:element name="partnerId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReservationDetailsPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationDetails" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightScheduleWithId">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightScheduleWithIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportIdWithFlightScheduleId">
<xs:sequence>
<xs:element name="flightSchedId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportIdWithFlightScheduleIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFRUsingFSId">
<xs:sequence>
<xs:element name="flightSchedId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFRUsingFSIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightRoute" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="linkFlightSchedule">
<xs:sequence>
<xs:element name="partnerId" type="xs:long"/>
<xs:element name="fsId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="linkFlightScheduleResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkIfFlightSchedIdIsDirect">
<xs:sequence>
<xs:element name="flightSchedId" type="xs:long"/>
<xs:element name="destAirportId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkIfFlightSchedIdIsDirectResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHighestFareUsingCabinName">
<xs:sequence>
<xs:element name="cabName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHighestFareUsingCabinNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportCodeWithAirportId">
<xs:sequence>
<xs:element name="airportId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportCodeWithAirportIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith1DayAfterReturnConnecting">
<xs:sequence>
<xs:element name="pickedAirport" type="xs:long"/>
<xs:element name="destAiport" type="xs:long"/>
<xs:element name="departureDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith1DayAfterReturnConnectingResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCabinFromRd">
<xs:sequence>
<xs:element name="rdId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCabinFromRdResponse">
<xs:sequence>
<xs:element name="return" type="tns:cabin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanAfterTimingReturnConnecting">
<xs:sequence>
<xs:element name="pickedAirport" type="xs:long"/>
<xs:element name="destAiport" type="xs:long"/>
<xs:element name="departureDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanAfterTimingReturnConnectingResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith1DayAfter">
<xs:sequence>
<xs:element name="listOfFlightSchedulePlanFromHub" type="tns:flightSchedulePlan" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="dateOfFlightPicked" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith1DayAfterResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookSeat">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="cabName" type="xs:string" minOccurs="0"/>
<xs:element name="seat" type="xs:int"/>
<xs:element name="letter" type="xs:unsignedShort"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookSeatResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveDateOfFlightPicked">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveDateOfFlightPickedResponse">
<xs:sequence>
<xs:element name="return" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightDoesNotExistException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFirstAvailableCabin">
<xs:sequence>
<xs:element name="flightScheduleId" type="xs:long"/>
<xs:element name="numOfSeats" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFirstAvailableCabinResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportOrigin">
<xs:sequence>
<xs:element name="fsId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportOriginResponse">
<xs:sequence>
<xs:element name="return" type="tns:airport" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFareFromRd">
<xs:sequence>
<xs:element name="rdId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFareFromRdResponse">
<xs:sequence>
<xs:element name="return" type="tns:fare" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFareUsingId">
<xs:sequence>
<xs:element name="fareId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFareUsingIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanAfterTiming">
<xs:sequence>
<xs:element name="listOfFlightSchedulePlan" type="tns:flightSchedulePlan" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="departureDateTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanAfterTimingResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWithSameTimingConnecting">
<xs:sequence>
<xs:element name="depAirport" type="xs:long"/>
<xs:element name="destAirport" type="xs:long"/>
<xs:element name="listOfHubIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="departureDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWithSameTimingConnectingResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith3DaysBeforePartner">
<xs:sequence>
<xs:element name="departureDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="depAirport" type="xs:long"/>
<xs:element name="destAirport" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith3DaysBeforePartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="linkCreditCard">
<xs:sequence>
<xs:element name="partnerId" type="xs:long"/>
<xs:element name="ccd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="linkCreditCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListOfHubsId">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getListOfHubsIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllAirports">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllAirportsResponse">
<xs:sequence>
<xs:element name="return" type="tns:airport" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportDest">
<xs:sequence>
<xs:element name="fsId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportDestResponse">
<xs:sequence>
<xs:element name="return" type="tns:airport" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createReservationDetailsForPartner">
<xs:sequence>
<xs:element name="reservationDetails" type="tns:reservationDetails" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="flightScheduleId" type="xs:long" minOccurs="0"/>
<xs:element name="highestFareId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createReservationDetailsForPartnerResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListOfHubsIdConnecting">
<xs:sequence>
<xs:element name="destAirportId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListOfHubsIdConnectingResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith3DaysBeforeConnecting">
<xs:sequence>
<xs:element name="depAirport" type="xs:long"/>
<xs:element name="destAirport" type="xs:long"/>
<xs:element name="listOfHubIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="departureDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightSchedulePlanWith3DaysBeforeConnectingResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPartnerId">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPartnerIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCabins">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCabinsResponse">
<xs:sequence>
<xs:element name="return" type="tns:cabin" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHighestFareIdInCabin">
<xs:sequence>
<xs:element name="cabinId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHighestFareIdInCabinResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="flightRouteStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="ACTIVE"/>
<xs:enumeration value="DISABLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="flightStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="ACTIVE"/>
<xs:enumeration value="DISABLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="flightSchedulePlanStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="ACTIVE"/>
<xs:enumeration value="DISABLED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>