FlightReservationJpaSeClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="getFareUsingId">
<part name="parameters" element="tns:getFareUsingId"/>
</message>
<message name="getFareUsingIdResponse">
<part name="parameters" element="tns:getFareUsingIdResponse"/>
</message>
<message name="retrieveFlightSchedulePlanWithSameFlight">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWithSameFlight"/>
</message>
<message name="retrieveFlightSchedulePlanWithSameFlightResponse">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWithSameFlightResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="linkCreditCard">
<part name="parameters" element="tns:linkCreditCard"/>
</message>
<message name="linkCreditCardResponse">
<part name="parameters" element="tns:linkCreditCardResponse"/>
</message>
<message name="getPartnerId">
<part name="parameters" element="tns:getPartnerId"/>
</message>
<message name="getPartnerIdResponse">
<part name="parameters" element="tns:getPartnerIdResponse"/>
</message>
<message name="retrieveAllAirports">
<part name="parameters" element="tns:retrieveAllAirports"/>
</message>
<message name="retrieveAllAirportsResponse">
<part name="parameters" element="tns:retrieveAllAirportsResponse"/>
</message>
<message name="createReservationDetails">
<part name="parameters" element="tns:createReservationDetails"/>
</message>
<message name="createReservationDetailsResponse">
<part name="parameters" element="tns:createReservationDetailsResponse"/>
</message>
<message name="getFlightSchedules">
<part name="parameters" element="tns:getFlightSchedules"/>
</message>
<message name="getFlightSchedulesResponse">
<part name="parameters" element="tns:getFlightSchedulesResponse"/>
</message>
<message name="getHighestFareIdInCabin">
<part name="parameters" element="tns:getHighestFareIdInCabin"/>
</message>
<message name="getHighestFareIdInCabinResponse">
<part name="parameters" element="tns:getHighestFareIdInCabinResponse"/>
</message>
<message name="linkFlightSchedule">
<part name="parameters" element="tns:linkFlightSchedule"/>
</message>
<message name="linkFlightScheduleResponse">
<part name="parameters" element="tns:linkFlightScheduleResponse"/>
</message>
<message name="retrieveFlightsThatHasDepAndDest">
<part name="parameters" element="tns:retrieveFlightsThatHasDepAndDest"/>
</message>
<message name="retrieveFlightsThatHasDepAndDestResponse">
<part name="parameters" element="tns:retrieveFlightsThatHasDepAndDestResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="getFareUsingId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getFareUsingIdRequest" message="tns:getFareUsingId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getFareUsingIdResponse" message="tns:getFareUsingIdResponse"/>
</operation>
<operation name="retrieveFlightSchedulePlanWithSameFlight">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWithSameFlightRequest" message="tns:retrieveFlightSchedulePlanWithSameFlight"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWithSameFlightResponse" message="tns:retrieveFlightSchedulePlanWithSameFlightResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/loginResponse" message="tns:loginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/login/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="linkCreditCard">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/linkCreditCardRequest" message="tns:linkCreditCard"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/linkCreditCardResponse" message="tns:linkCreditCardResponse"/>
</operation>
<operation name="getPartnerId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getPartnerIdRequest" message="tns:getPartnerId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getPartnerIdResponse" message="tns:getPartnerIdResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/getPartnerId/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="retrieveAllAirports">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllAirportsRequest" message="tns:retrieveAllAirports"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllAirportsResponse" message="tns:retrieveAllAirportsResponse"/>
</operation>
<operation name="createReservationDetails">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/createReservationDetailsRequest" message="tns:createReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/createReservationDetailsResponse" message="tns:createReservationDetailsResponse"/>
</operation>
<operation name="getFlightSchedules">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightSchedulesRequest" message="tns:getFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightSchedulesResponse" message="tns:getFlightSchedulesResponse"/>
</operation>
<operation name="getHighestFareIdInCabin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getHighestFareIdInCabinRequest" message="tns:getHighestFareIdInCabin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getHighestFareIdInCabinResponse" message="tns:getHighestFareIdInCabinResponse"/>
</operation>
<operation name="linkFlightSchedule">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/linkFlightScheduleRequest" message="tns:linkFlightSchedule"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/linkFlightScheduleResponse" message="tns:linkFlightScheduleResponse"/>
</operation>
<operation name="retrieveFlightsThatHasDepAndDest">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightsThatHasDepAndDestRequest" message="tns:retrieveFlightsThatHasDepAndDest"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightsThatHasDepAndDestResponse" message="tns:retrieveFlightsThatHasDepAndDestResponse"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFareUsingId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightSchedulePlanWithSameFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="linkCreditCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPartnerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllAirports">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHighestFareIdInCabin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="linkFlightSchedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightsThatHasDepAndDest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>