FlightReservationJpaSeClient/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="retrieveFlightSchedulePlanAfterTimingReturnConnecting">
<part name="parameters" element="tns:retrieveFlightSchedulePlanAfterTimingReturnConnecting"/>
</message>
<message name="retrieveFlightSchedulePlanAfterTimingReturnConnectingResponse">
<part name="parameters" element="tns:retrieveFlightSchedulePlanAfterTimingReturnConnectingResponse"/>
</message>
<message name="retrieveFlightSchedulePlanWith3DaysAfterConnecting">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith3DaysAfterConnecting"/>
</message>
<message name="retrieveFlightSchedulePlanWith3DaysAfterConnectingResponse">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith3DaysAfterConnectingResponse"/>
</message>
<message name="retrieveFlightSchedulePlanWith3DaysBeforeConnecting">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith3DaysBeforeConnecting"/>
</message>
<message name="retrieveFlightSchedulePlanWith3DaysBeforeConnectingResponse">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith3DaysBeforeConnectingResponse"/>
</message>
<message name="retrieveFlightSchedulePlanWith1DayAfterReturnConnecting">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith1DayAfterReturnConnecting"/>
</message>
<message name="retrieveFlightSchedulePlanWith1DayAfterReturnConnectingResponse">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith1DayAfterReturnConnectingResponse"/>
</message>
<message name="retrieveFlightSchedulePlanWithSameTimingConnecting">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWithSameTimingConnecting"/>
</message>
<message name="retrieveFlightSchedulePlanWithSameTimingConnectingResponse">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWithSameTimingConnectingResponse"/>
</message>
<message name="getFlightSchedules">
<part name="parameters" element="tns:getFlightSchedules"/>
</message>
<message name="getFlightSchedulesResponse">
<part name="parameters" element="tns:getFlightSchedulesResponse"/>
</message>
<message name="getHighestFareIdInCabin">
<part name="parameters" element="tns:getHighestFareIdInCabin"/>
</message>
<message name="getHighestFareIdInCabinResponse">
<part name="parameters" element="tns:getHighestFareIdInCabinResponse"/>
</message>
<message name="getFlightScheduleWithId">
<part name="parameters" element="tns:getFlightScheduleWithId"/>
</message>
<message name="getFlightScheduleWithIdResponse">
<part name="parameters" element="tns:getFlightScheduleWithIdResponse"/>
</message>
<message name="FlightScheduleDoesNotExistException">
<part name="fault" element="tns:FlightScheduleDoesNotExistException"/>
</message>
<message name="retrieveAllAirports">
<part name="parameters" element="tns:retrieveAllAirports"/>
</message>
<message name="retrieveAllAirportsResponse">
<part name="parameters" element="tns:retrieveAllAirportsResponse"/>
</message>
<message name="retrieveFlightScheduleInPlan">
<part name="parameters" element="tns:retrieveFlightScheduleInPlan"/>
</message>
<message name="retrieveFlightScheduleInPlanResponse">
<part name="parameters" element="tns:retrieveFlightScheduleInPlanResponse"/>
</message>
<message name="getHighestFareUsingCabinName">
<part name="parameters" element="tns:getHighestFareUsingCabinName"/>
</message>
<message name="getHighestFareUsingCabinNameResponse">
<part name="parameters" element="tns:getHighestFareUsingCabinNameResponse"/>
</message>
<message name="checkSeatIfAvailable">
<part name="parameters" element="tns:checkSeatIfAvailable"/>
</message>
<message name="checkSeatIfAvailableResponse">
<part name="parameters" element="tns:checkSeatIfAvailableResponse"/>
</message>
<message name="getAirportIdWithFlightScheduleId">
<part name="parameters" element="tns:getAirportIdWithFlightScheduleId"/>
</message>
<message name="getAirportIdWithFlightScheduleIdResponse">
<part name="parameters" element="tns:getAirportIdWithFlightScheduleIdResponse"/>
</message>
<message name="retrieveDateOfFlightPicked">
<part name="parameters" element="tns:retrieveDateOfFlightPicked"/>
</message>
<message name="retrieveDateOfFlightPickedResponse">
<part name="parameters" element="tns:retrieveDateOfFlightPickedResponse"/>
</message>
<message name="FlightDoesNotExistException">
<part name="fault" element="tns:FlightDoesNotExistException"/>
</message>
<message name="getReservationDetailsPartner">
<part name="parameters" element="tns:getReservationDetailsPartner"/>
</message>
<message name="getReservationDetailsPartnerResponse">
<part name="parameters" element="tns:getReservationDetailsPartnerResponse"/>
</message>
<message name="getCabinSeatsList">
<part name="parameters" element="tns:getCabinSeatsList"/>
</message>
<message name="getCabinSeatsListResponse">
<part name="parameters" element="tns:getCabinSeatsListResponse"/>
</message>
<message name="linkFlightSchedule">
<part name="parameters" element="tns:linkFlightSchedule"/>
</message>
<message name="linkFlightScheduleResponse">
<part name="parameters" element="tns:linkFlightScheduleResponse"/>
</message>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="persistResponse">
<part name="parameters" element="tns:persistResponse"/>
</message>
<message name="createReservationDetailsForPartner">
<part name="parameters" element="tns:createReservationDetailsForPartner"/>
</message>
<message name="createReservationDetailsForPartnerResponse">
<part name="parameters" element="tns:createReservationDetailsForPartnerResponse"/>
</message>
<message name="getFRUsingFSId">
<part name="parameters" element="tns:getFRUsingFSId"/>
</message>
<message name="getFRUsingFSIdResponse">
<part name="parameters" element="tns:getFRUsingFSIdResponse"/>
</message>
<message name="linkCreditCard">
<part name="parameters" element="tns:linkCreditCard"/>
</message>
<message name="linkCreditCardResponse">
<part name="parameters" element="tns:linkCreditCardResponse"/>
</message>
<message name="getPartnerId">
<part name="parameters" element="tns:getPartnerId"/>
</message>
<message name="getPartnerIdResponse">
<part name="parameters" element="tns:getPartnerIdResponse"/>
</message>
<message name="retrieveFlightSchedulePlanAfterTiming">
<part name="parameters" element="tns:retrieveFlightSchedulePlanAfterTiming"/>
</message>
<message name="retrieveFlightSchedulePlanAfterTimingResponse">
<part name="parameters" element="tns:retrieveFlightSchedulePlanAfterTimingResponse"/>
</message>
<message name="retrieveFlightSchedulePlanWith3DaysBeforePartner">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith3DaysBeforePartner"/>
</message>
<message name="retrieveFlightSchedulePlanWith3DaysBeforePartnerResponse">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith3DaysBeforePartnerResponse"/>
</message>
<message name="retrieveFlightSchedulePlanWith3DaysAfterPartner">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith3DaysAfterPartner"/>
</message>
<message name="retrieveFlightSchedulePlanWith3DaysAfterPartnerResponse">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith3DaysAfterPartnerResponse"/>
</message>
<message name="retrieveFlightSchedulePlanWithSameTimingPartner">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWithSameTimingPartner"/>
</message>
<message name="retrieveFlightSchedulePlanWithSameTimingPartnerResponse">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWithSameTimingPartnerResponse"/>
</message>
<message name="retrieveFlightSchedulePlanWith1DayAfter">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith1DayAfter"/>
</message>
<message name="retrieveFlightSchedulePlanWith1DayAfterResponse">
<part name="parameters" element="tns:retrieveFlightSchedulePlanWith1DayAfterResponse"/>
</message>
<message name="getListOfHubsId">
<part name="parameters" element="tns:getListOfHubsId"/>
</message>
<message name="getListOfHubsIdResponse">
<part name="parameters" element="tns:getListOfHubsIdResponse"/>
</message>
<message name="getCabins">
<part name="parameters" element="tns:getCabins"/>
</message>
<message name="getCabinsResponse">
<part name="parameters" element="tns:getCabinsResponse"/>
</message>
<message name="bookSeat">
<part name="parameters" element="tns:bookSeat"/>
</message>
<message name="bookSeatResponse">
<part name="parameters" element="tns:bookSeatResponse"/>
</message>
<message name="getFareUsingId">
<part name="parameters" element="tns:getFareUsingId"/>
</message>
<message name="getFareUsingIdResponse">
<part name="parameters" element="tns:getFareUsingIdResponse"/>
</message>
<message name="getIslesPlan">
<part name="parameters" element="tns:getIslesPlan"/>
</message>
<message name="getIslesPlanResponse">
<part name="parameters" element="tns:getIslesPlanResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="login">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/loginResponse" message="tns:loginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/login/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="retrieveFlightSchedulePlanAfterTimingReturnConnecting">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanAfterTimingReturnConnectingRequest" message="tns:retrieveFlightSchedulePlanAfterTimingReturnConnecting"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanAfterTimingReturnConnectingResponse" message="tns:retrieveFlightSchedulePlanAfterTimingReturnConnectingResponse"/>
</operation>
<operation name="retrieveFlightSchedulePlanWith3DaysAfterConnecting">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith3DaysAfterConnectingRequest" message="tns:retrieveFlightSchedulePlanWith3DaysAfterConnecting"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith3DaysAfterConnectingResponse" message="tns:retrieveFlightSchedulePlanWith3DaysAfterConnectingResponse"/>
</operation>
<operation name="retrieveFlightSchedulePlanWith3DaysBeforeConnecting">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith3DaysBeforeConnectingRequest" message="tns:retrieveFlightSchedulePlanWith3DaysBeforeConnecting"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith3DaysBeforeConnectingResponse" message="tns:retrieveFlightSchedulePlanWith3DaysBeforeConnectingResponse"/>
</operation>
<operation name="retrieveFlightSchedulePlanWith1DayAfterReturnConnecting">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith1DayAfterReturnConnectingRequest" message="tns:retrieveFlightSchedulePlanWith1DayAfterReturnConnecting"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith1DayAfterReturnConnectingResponse" message="tns:retrieveFlightSchedulePlanWith1DayAfterReturnConnectingResponse"/>
</operation>
<operation name="retrieveFlightSchedulePlanWithSameTimingConnecting">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWithSameTimingConnectingRequest" message="tns:retrieveFlightSchedulePlanWithSameTimingConnecting"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWithSameTimingConnectingResponse" message="tns:retrieveFlightSchedulePlanWithSameTimingConnectingResponse"/>
</operation>
<operation name="getFlightSchedules">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightSchedulesRequest" message="tns:getFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightSchedulesResponse" message="tns:getFlightSchedulesResponse"/>
</operation>
<operation name="getHighestFareIdInCabin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getHighestFareIdInCabinRequest" message="tns:getHighestFareIdInCabin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getHighestFareIdInCabinResponse" message="tns:getHighestFareIdInCabinResponse"/>
</operation>
<operation name="getFlightScheduleWithId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightScheduleWithIdRequest" message="tns:getFlightScheduleWithId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightScheduleWithIdResponse" message="tns:getFlightScheduleWithIdResponse"/>
<fault message="tns:FlightScheduleDoesNotExistException" name="FlightScheduleDoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightScheduleWithId/Fault/FlightScheduleDoesNotExistException"/>
</operation>
<operation name="retrieveAllAirports">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllAirportsRequest" message="tns:retrieveAllAirports"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllAirportsResponse" message="tns:retrieveAllAirportsResponse"/>
</operation>
<operation name="retrieveFlightScheduleInPlan">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightScheduleInPlanRequest" message="tns:retrieveFlightScheduleInPlan"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightScheduleInPlanResponse" message="tns:retrieveFlightScheduleInPlanResponse"/>
</operation>
<operation name="getHighestFareUsingCabinName">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getHighestFareUsingCabinNameRequest" message="tns:getHighestFareUsingCabinName"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getHighestFareUsingCabinNameResponse" message="tns:getHighestFareUsingCabinNameResponse"/>
<fault message="tns:FlightScheduleDoesNotExistException" name="FlightScheduleDoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/getHighestFareUsingCabinName/Fault/FlightScheduleDoesNotExistException"/>
</operation>
<operation name="checkSeatIfAvailable">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/checkSeatIfAvailableRequest" message="tns:checkSeatIfAvailable"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/checkSeatIfAvailableResponse" message="tns:checkSeatIfAvailableResponse"/>
</operation>
<operation name="getAirportIdWithFlightScheduleId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getAirportIdWithFlightScheduleIdRequest" message="tns:getAirportIdWithFlightScheduleId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getAirportIdWithFlightScheduleIdResponse" message="tns:getAirportIdWithFlightScheduleIdResponse"/>
</operation>
<operation name="retrieveDateOfFlightPicked">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveDateOfFlightPickedRequest" message="tns:retrieveDateOfFlightPicked"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveDateOfFlightPickedResponse" message="tns:retrieveDateOfFlightPickedResponse"/>
<fault message="tns:FlightDoesNotExistException" name="FlightDoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveDateOfFlightPicked/Fault/FlightDoesNotExistException"/>
</operation>
<operation name="getReservationDetailsPartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationDetailsPartnerRequest" message="tns:getReservationDetailsPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationDetailsPartnerResponse" message="tns:getReservationDetailsPartnerResponse"/>
<fault message="tns:FlightScheduleDoesNotExistException" name="FlightScheduleDoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationDetailsPartner/Fault/FlightScheduleDoesNotExistException"/>
</operation>
<operation name="getCabinSeatsList">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getCabinSeatsListRequest" message="tns:getCabinSeatsList"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getCabinSeatsListResponse" message="tns:getCabinSeatsListResponse"/>
<fault message="tns:FlightScheduleDoesNotExistException" name="FlightScheduleDoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/getCabinSeatsList/Fault/FlightScheduleDoesNotExistException"/>
</operation>
<operation name="linkFlightSchedule">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/linkFlightScheduleRequest" message="tns:linkFlightSchedule"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/linkFlightScheduleResponse" message="tns:linkFlightScheduleResponse"/>
</operation>
<operation name="persist">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/persistRequest" message="tns:persist"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/persistResponse" message="tns:persistResponse"/>
</operation>
<operation name="createReservationDetailsForPartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/createReservationDetailsForPartnerRequest" message="tns:createReservationDetailsForPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/createReservationDetailsForPartnerResponse" message="tns:createReservationDetailsForPartnerResponse"/>
</operation>
<operation name="getFRUsingFSId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getFRUsingFSIdRequest" message="tns:getFRUsingFSId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getFRUsingFSIdResponse" message="tns:getFRUsingFSIdResponse"/>
</operation>
<operation name="linkCreditCard">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/linkCreditCardRequest" message="tns:linkCreditCard"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/linkCreditCardResponse" message="tns:linkCreditCardResponse"/>
</operation>
<operation name="getPartnerId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getPartnerIdRequest" message="tns:getPartnerId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getPartnerIdResponse" message="tns:getPartnerIdResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/getPartnerId/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="retrieveFlightSchedulePlanAfterTiming">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanAfterTimingRequest" message="tns:retrieveFlightSchedulePlanAfterTiming"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanAfterTimingResponse" message="tns:retrieveFlightSchedulePlanAfterTimingResponse"/>
</operation>
<operation name="retrieveFlightSchedulePlanWith3DaysBeforePartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith3DaysBeforePartnerRequest" message="tns:retrieveFlightSchedulePlanWith3DaysBeforePartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith3DaysBeforePartnerResponse" message="tns:retrieveFlightSchedulePlanWith3DaysBeforePartnerResponse"/>
</operation>
<operation name="retrieveFlightSchedulePlanWith3DaysAfterPartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith3DaysAfterPartnerRequest" message="tns:retrieveFlightSchedulePlanWith3DaysAfterPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith3DaysAfterPartnerResponse" message="tns:retrieveFlightSchedulePlanWith3DaysAfterPartnerResponse"/>
</operation>
<operation name="retrieveFlightSchedulePlanWithSameTimingPartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWithSameTimingPartnerRequest" message="tns:retrieveFlightSchedulePlanWithSameTimingPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWithSameTimingPartnerResponse" message="tns:retrieveFlightSchedulePlanWithSameTimingPartnerResponse"/>
</operation>
<operation name="retrieveFlightSchedulePlanWith1DayAfter">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith1DayAfterRequest" message="tns:retrieveFlightSchedulePlanWith1DayAfter"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveFlightSchedulePlanWith1DayAfterResponse" message="tns:retrieveFlightSchedulePlanWith1DayAfterResponse"/>
</operation>
<operation name="getListOfHubsId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getListOfHubsIdRequest" message="tns:getListOfHubsId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getListOfHubsIdResponse" message="tns:getListOfHubsIdResponse"/>
</operation>
<operation name="getCabins">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getCabinsRequest" message="tns:getCabins"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getCabinsResponse" message="tns:getCabinsResponse"/>
<fault message="tns:FlightScheduleDoesNotExistException" name="FlightScheduleDoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/getCabins/Fault/FlightScheduleDoesNotExistException"/>
</operation>
<operation name="bookSeat">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/bookSeatRequest" message="tns:bookSeat"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/bookSeatResponse" message="tns:bookSeatResponse"/>
<fault message="tns:FlightScheduleDoesNotExistException" name="FlightScheduleDoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/bookSeat/Fault/FlightScheduleDoesNotExistException"/>
</operation>
<operation name="getFareUsingId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getFareUsingIdRequest" message="tns:getFareUsingId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getFareUsingIdResponse" message="tns:getFareUsingIdResponse"/>
</operation>
<operation name="getIslesPlan">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getIslesPlanRequest" message="tns:getIslesPlan"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getIslesPlanResponse" message="tns:getIslesPlanResponse"/>
<fault message="tns:FlightScheduleDoesNotExistException" name="FlightScheduleDoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/getIslesPlan/Fault/FlightScheduleDoesNotExistException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="retrieveFlightSchedulePlanAfterTimingReturnConnecting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightSchedulePlanWith3DaysAfterConnecting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightSchedulePlanWith3DaysBeforeConnecting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightSchedulePlanWith1DayAfterReturnConnecting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightSchedulePlanWithSameTimingConnecting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHighestFareIdInCabin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightScheduleWithId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleDoesNotExistException">
<soap:fault name="FlightScheduleDoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllAirports">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightScheduleInPlan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHighestFareUsingCabinName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleDoesNotExistException">
<soap:fault name="FlightScheduleDoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="checkSeatIfAvailable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAirportIdWithFlightScheduleId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveDateOfFlightPicked">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightDoesNotExistException">
<soap:fault name="FlightDoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="getReservationDetailsPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleDoesNotExistException">
<soap:fault name="FlightScheduleDoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="getCabinSeatsList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleDoesNotExistException">
<soap:fault name="FlightScheduleDoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="linkFlightSchedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createReservationDetailsForPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFRUsingFSId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="linkCreditCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPartnerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="retrieveFlightSchedulePlanAfterTiming">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightSchedulePlanWith3DaysBeforePartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightSchedulePlanWith3DaysAfterPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightSchedulePlanWithSameTimingPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightSchedulePlanWith1DayAfter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListOfHubsId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCabins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleDoesNotExistException">
<soap:fault name="FlightScheduleDoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="bookSeat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleDoesNotExistException">
<soap:fault name="FlightScheduleDoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="getFareUsingId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIslesPlan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleDoesNotExistException">
<soap:fault name="FlightScheduleDoesNotExistException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>